OPENAI_API_KEY=INSERT_KEY_HERE
MEILI_MASTER_KEY=GENERATE_RANDOM_KEY
MEILI_URL=http://meilisearch:7700
SKIP_DATASET=False 
SKIP_INDEX=False 
SKIP_UPSERT=False 
SKIP_SETTINGS=False 
SKIP_EMBEDDINGS=False 
SKIP_SANITY=True
